body {
  font-family: "Lato", "Calibri", "Arial", "sans-serif";
}

.container {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 1000px;
}

.border {
  border: 3px solid dodgerblue;
  width: 900px;
  margin-bottom: 40px;
}

.grid,
.col-1-3,
.col-2-3,
.col-3-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-3,
.col-2-3,
.col-3-3 {
  display: inline-block;
  vertical-align: top;
}

.hand {
  float: right;
  color: dodgerblue;
}

.nav {
  margin-top: 20px;
  margin-right: 40px;
  border-bottom: 3px solid dodgerblue;
  padding-bottom: 40px;
  margin-left: 40px;

}

.th {
  margin-right: 10px;
}

.sec {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: dodgerblue;
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
}

h3 {
  font-size: 25px;
  margin-bottom: 6px;
  margin-left: 30px;
  color: grey;
  display: inline-block;
}

p {
  font-size: 14px;
  line-height: 120%;
  color: dodgerblue;
  display: inline-block;
  max-width: 300px;
  margin-left: 30px;
}

.grey {
  color: grey;
  display: inline-block;
}

.button {
  display: inline-block;
  background-color: dodgerblue;
  padding: 15px 30px 15px 30px;
  margin-left: 30px;
  vertical-align: middle;
  color: white;
}
